<% if flash.has?(:message) %> <%= flash[:message] %> <% end %>
<br>
<br>
<a href="/subreddits/new">Create a Subreddit</a><br>
<a href="/subreddits">Explore Subreddits</a><br>
<a href="/users/<%= current_user.slug %>/goodbye">Log out </a><br>
<a href="/users/<%= current_user.slug %>">Profile</a><br>


<h1>Reddit Homefeed</h1>

<h3>Explore Post Below</h3>
<% Post.all.each do |post| %> 
    <a href="posts/<%= post.id%>"><%= post.title %><a/><br>
<% end %>