<% if flash.has?(:message) %> <%= flash[:message] %> <% end %>
<br>
<br>

<a href="/subreddits/new">Create a Subreddit</a><br>
<a href="/subreddits">Explore Subreddits</a><br>
<a href="/users/<%= current_user.slug %>/goodbye">Log out </a><br>
<a href="/users/<%= current_user.slug %>">Profile</a><br>




<h1>All the subreddits </h1>
<p>
<ul>
<% Sub.all.each do |sub| %>
    
    <li><a href="/subreddits/<%=sub.id %>"><%= sub.title %></a><br>
<% end %>
</ul>
</p>