<h1>edit Post  </h1>

<form action='/posts/<%= @post.id %>' method="POST">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
   
    <lable for="post_title">Title: </lable>
    <input type="type" name="post[title]" id="post_title" placeholder="<%= @post.title%>">   

    <lable for="content">Content:</lable>
    <input type="text" id="post[content]" name="content" placeholder="<%= @post.content%>"> 
    
    <lable for="post_link">URL: </lable>
    <input type="type" name="post[link]" id="post_link" placeholder="<%= @post.link%>">    

    <br>
    
    <lable>Subreddits</lable><br>
    <% Sub.all.each do |subreddit| %>
        <input id="<%= subreddit.title %>"  type="checkbox"  name="sub_ids[]"  value="<%= subreddit.id %>" <%='checked' if @post.subs.include?(subreddit) %>><%=subreddit.title %><br>
    <% end %>

    <input type="submit" value="submit">
</form>
