#make this a delete also

<a href="/subreddits/new">Create a Sureddit</a><br>
<a href="/subreddits">Explore Subreddits</a><br>
<a href="/users/<%= current_user.slug %>/goodbye">Log out </a><br>
<a href="/users/<%= current_user.slug %>/edit">Edit </a><br>
<a href="/users/<%= current_user.slug %>">Profile</a><br>


<h1><%= @post.title%> </h1>

<form action="/posts/<%= @post.id %>" method="post"> 
    <input id="hidden" type="hidden" name="_method" value="delete">
   
    <lable for="title">Current Title: <%= @post.title %></lable><br>
   
    <lable for="content">Current Content: <%= @post.content %></lable><br>
    

    <input type="submit" value="Delete Post">
</form>


<a href="/posts/<%=@post.id %>/edit">Edit Post</a>